.card{
  border: 1px solid black;
  align-items: center;
  margin: 10px auto;
  width: 200px;
  background: white;
  cursor: pointer;
  padding: 20px;
}

.card img{
  padding-top: 5px;
  border-radius: 50%;
}



.module{
  display: none;
}
