.card{
  border: 1px solid black;
  border-radius: 10px;
  align-items: center;
  margin: 10px auto;
  width: 270px;
  background: white;
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card img{
  border-radius: 50%;
  border: 1px solid #444;
}

.card p {
  text-transform: capitalize;
}
